/* Add this to your CSS file */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.z-50 {
  z-index: 50;
}

.z-0 {
  z-index: 0;
}


.custom-grid > * {
  margin-bottom: 0; /* Remove default margin */
}

.custom-grid {
  gap: 1rem; /* Set your preferred gap here */
}

.custom-color1 {
  color: #16abe7d0;
}

.custom-color3 {
  color:#025E73;
}

body {
  
  background: linear-gradient(180deg, rgba(2,56,89,1) 10%, rgba(26,90,117,1) 20%, rgba(68,148,166,1) 70%, rgba(242,240,240,1) 97%);
  }